.article {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f8f8f8;
  min-height: calc(100vh - 4.8rem);
  padding: 2rem 0 0;

  &__box {
    padding: 2rem 50px;
    width: 1020px;
    background: #fff;
    span {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 0 2rem;
    }
    h1 {
      font-size: 2rem;
      padding-bottom: 1.2rem;
    }
    p {
      font-size: 1.2rem;
      color: #434343;
      line-height: 2.1rem;
    }

    &__country {
      padding: 0 0 1rem 0

    }
  }
}