@import 'styles/variables';

.home{
  height: auto;
  width: 100%;
  position: relative;

  &__welcome {
    min-height: 18vh;
    height: auto;
    padding: 2rem 15%;
    display: flex;
    flex-direction: column;
    &__span {
      font-size: 3rem;
    }
    &__table {
      margin-top: 1.6rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      span {
        font-size: 1.4rem;
        line-height: 3.2rem;
      }
    }
  }
  &__searcher {
    font-size: 1.2rem;
    height: auto;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    &__container {
      display: flex;
      flex-direction: column;
      height: auto;
    }
    &__prgf {
      padding: 1.8rem 0 1.6rem 0;
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    &__box {
      width: 100%;
      display: flex;
      align-items: center;
    }
    &__quest {
      padding: 0 0 1.2rem 0;
      color: #444444;
    }
    &__label{
      padding: 0 3rem 0 0;
      select {
        min-width: 10rem;
      }
    }
    button {
      margin: 3rem 0 1rem;
      padding: .6rem;
      width: 12rem;
      text-align: center;
      transition: .5s;
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        color: #fff !important;
        background: #457B9D;
      }
    }
  }

  &__desc {
    height: auto;
    padding: 2rem 15% 0;
    line-height: 2rem;
    font-size: 1.2rem;
    h1 {
      font-size: 1.8rem;
      font-weight: normal;
    }
    p {
      padding: 2rem 0;
      font-size: 1.2rem;
      color: #444444;
    }
    ol {
      li {
        margin-left: 20px;
      }
    }
  }

  @media screen and (max-width: 820px) {
    &__welcome {
      &__span {
        font-size: 2rem;
      }
    }
    &__searcher {
      flex-direction: column;
      padding: 0;
      &__container, &__article {
        flex-direction: column;
        width: 100%;
        padding: 1rem 5%;
      }
        &__btn {
        margin-top: 3rem;
      }
    }
  }
}

