@import "styles/variables";

.searcher {
  width: 100%;
  min-height: 100%;
  font-size: 1.2rem;
  padding: 1rem 0;
  border-bottom: 1px solid black;

  &__content {
    display: flex;
    flex-direction: column;
    &__label {
      margin: 0 1rem.6rem 0 ;
    }
    &__location {
      display: flex;
      justify-content: space-between;
    }
    &__radios {
      display: flex;

    }
    &__box {
      display: flex;
      padding: 1rem 0;
      > div {
        margin: 0 2rem 0 0;
      }
      &__row {
        flex-direction: row;
        justify-content: space-between;
      }
      &__column {
        display: flex;
        margin: 0 0 2rem;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
      }
    }
    &__category {
      margin: 1rem 0;
    }
    &__p {
      padding: 0 0 1rem 0;
      font-size: 1.3rem;
    }

  }
}