@import "styles/variables";

.searcher {
  width: 100%;
  min-height: 100%;
  font-size: 1.2rem;
  padding: 1rem 0;
  background: #fff;
  &__title {
    font-size: 2rem;
  }
  &__visibleChanger {
    display: flex;
    button {
      padding: .2rem 3rem;
      margin: 1rem 0 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    &__label {
      margin: 0 1rem .6rem 0 ;
    }
    &__location {
      display: flex;
      justify-content: space-between;
    }
    &__radios {
      display: flex;
      margin: 1rem 0 .6rem;
    }
    &__box {
      display: flex;
      padding: 0 0 1rem;
      > div {
        margin: 0 2rem 0 0;
      }
      &__row {
        flex-direction: row;
        justify-content: space-between;
      }
      &__column {
        display: flex;
        margin: 0 0 2rem;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
      }

      label {
        color: #444444;
      }
    }
    &__button {
      margin: 1.4rem 0 0;
      padding: .2rem 3.2rem;
    }
    &__category {
      margin: 1rem 0;
    }
    &__p {
      padding: 0 0 1rem 0;
      font-size: 1.2rem;
      color: #010101;
    }

  }
}