$color1: #E63946;
$color2: #F1FAEE;
$color3: #A8DADC;
$color4: #457B9D;
$color5: #1D3557;

:export {
    color1: $color1;
    color2: $color2;
    color3: $color3;
    color4: $color4;
    color5: $color5;
}